body{
    margin: 0px;
    padding: 0px;
  }
  .container-fluid{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
  }
  .warp{

    max-width: 650px;
    border-radius: 20px;
    margin: auto;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 40px;
    color: #000;
    margin-top: 100px;  
  }
  h2{
    text-align: center;
  }
  input[type=text], input[type= password],input[type=gmail]{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    
    background:none;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
  
    margin: 5px;
  }
  input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    transition: 1s;
  }
  button[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    transition: 1s;
  }
  button[type=submit]:hover{
    background:#335f7a;
  
  }